*{
    background-color: bisque;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    
}

#navLinks{
    color: white;
}

footer{
    background: grey;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
}
h3{
    background-color: grey;
}
#pfooter{
    background-color: grey;
}