*{
    background-color: bisque;
    margin: 20px;
}

header{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky; top: 0;
}

#navLinks{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    font-size:larger;
    font-family: 'Times New Roman', Times, serif;
    text-indent: 30px;
    text-align: justify;
    letter-spacing: -1px;
    line-height: 2;
    word-spacing: 0.9px;
    text-shadow: 0.2px 0.2px 2px gray;
    
}

footer{
    background: grey;
    border-radius: 10px;
    border-style: none;
    text-align: center;
    background-color: grey;
    padding: 5px;
    margin: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative; bottom: 0px;
}
h3{
    background-color: grey;
}
#pfooter{
    background-color: grey;
}