.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    padding: 1rem 2rem;
    color: white;
    
    
  }
  
  .logo a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fca311;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: #fca311;
  }